@media (min-width: 1024px) {
    .ReviewsSection{
    display: flex;
    height: 350px;
    flex-direction: column;
    font-size: x-large;
    text-align: center;
    padding: 0;
    }

    .reviewsStarsImg{
        height: 40px;
        width: 140px;
    }

.reviewsContainer{
    display: flex;
    flex-wrap:nowrap;
    gap: 30px;
    padding: 0;
}

.reviewsCard{
    margin: auto;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: 450px;
    height: 250px;
    font-size: large;
    text-align: center;
    padding-top: 15px;
}

.author{
    font-weight: 500;
    color: black;
    margin: 10px auto;
}

.review{
    color: black;
    font-size: small;
    padding-left: 15px;
    padding-right: 15px;
}

}

@media (max-width: 768px) {
    .ReviewsSection{
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: x-large;
        text-align: center;

    }
    .reviewsContainer{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        gap: 2px;

    }
    .reviewsStarsImg{
        margin: 0 auto;
        height: 20px;
        width: 100px;
    }
    
    .reviewsCard{
        margin: auto;
        margin-top: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        font-size: medium;
        text-align: center;
        padding-top: 15px;
    }
    
    .author{
        font-weight: 500;
        color: black;
        margin: 0 auto;
    }
    
    .review{
        color: black;
        font-size: small;
        padding-left: 15px;
        padding-right: 15px;
    }
}
