.lentesImgContainer{
    display: block;
}

.lentesGraduadosContainer{
    display: flex;
}

.lentesGraduadosTitle{
    margin-top: 20px;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
}

.subtitle{
    text-align: center;
    font-weight: 500;
}

.lentesParaContainer{
    box-sizing: border-box;
    flex: 1;
    width: 50%;
    margin: auto ;
}

.lentesGraduadosPara{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
}

.lentesImgContainer{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.lentesGImg{
    margin: auto;
    border-radius: 10px;
    width: 30%; 
    height: 40%;
}

.imgLentesGraduados{
    width: 50%; 
    height: 70%; 
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width: 1024px) {
    .lentesGraduadosContainer{
        height: 60vh;
        }
        
    .lentesGraduadosPara{
        margin-bottom: 15px;
    }
    .lentesGraduadosPara{
        padding-left: 200px;
        padding-right: 10px;

    }
}
@media (max-width: 768px) {
    .lentesGraduadosContainer{
        height: 100%;
        }
    .lentesGraduadosPara{
        font-size: small;
        padding-left: 60px;
        padding-right: 40px;
    }
    .lentesImgContainer{
        display: none;
        }
}