@media (max-width: 768px) {
    
.ServicesSectionContainer {
    position: relative;
    background-color: gray;
    overflow: hidden;
}

.gridContainer{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto; /*  enables horizontal scrolling */
    gap: 10px;
}

.gridContainer::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.servicesGridCard{
    flex: 0 0 auto; /* Prevents shrinking and allows horizontal scrolling */
    width: 170px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.serviceCardImg {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }

  .service-card-text{
    text-align: center;
    padding: 10px;
    white-space: nowrap;
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
  }
  
  .left-btn {
    left: 10px;
  }
  
  .right-btn {
    right: 10px;
  }


  
}