.header {
  /* Normal color, no dark overlay */
  position: relative; /* Prevent accidental inheritance of pseudo-elements */
  z-index: 10; /* Ensure it appears above homepage styles */
  background-color: #D01110;
  /* purple: #3E004A greenblue:#37BEB0 rojoQuemado:#5B0606 */
}

.header .flex {
  align-items: center; /* Vertically center content (logo and navigation) */
}

.logo-container{
  margin-right: 15%;
}

.header img {
  height: 3.5rem; /* Adjust the height to increase logo size */
  width: auto;    /* Maintain aspect ratio */
  border-radius: 15px;
}

.header a {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center; /* Vertically align the text */
}

@media (max-width: 1024px) {
  .logo-container {
    margin-right: 5%; /* Reduce the margin between logo and navigation */
  }

  .header .flex {
    justify-content: space-between; /* Ensure proper alignment */
  }

  .header a {
    font-size: 0.9rem; /* Optional: Slightly reduce font size for tabs */
  }

  .header img {
    height: 3rem; /* Optional: Slightly reduce logo size */
  }
}
/* Mobile break point - max-width 639px */
@media (max-width: 740px) {
  .logo-container {
    margin-right: 0; /* Remove margin for mobile */
  }

  .header .flex {
    flex-direction: column; /* Stack items for smaller screens */
    align-items: center;
  }

  .header a {
    font-size: 1rem; /* Slightly increase font size on mobile */
  }

  .header img {
    height: 2.5rem; /* Adjust logo size for mobile */
  }
}