.header {
  /* Normal color, no dark overlay */
  position: relative; /* Prevent accidental inheritance of pseudo-elements */
  z-index: 10; /* Ensure it appears above homepage styles */
  background-color: #D01110;
  /* purple: #3E004A greenblue:#37BEB0 rojoQuemado:#5B0606 */
}
