.hero {
  position: relative;
  display: flex;
}
.heroh1Container{

}

.hero-image img{
border-radius: 10px;
}

.hero-text {
  display:flex;
  font-weight: 430;
  height: 100%;
  background-color: #EEEEEE 
}

.heroh1 {
font-weight: 600;
display: flex;
flex-direction: column;
color: white;
z-index: 2;
}

.heroh2{
  font-size: small;
  color: black;
  z-index: 2;
}

.hero-h1h2 span {
  display: block;
  line-height: 1.9; 
}

.heroContainer{
  z-index: 2;
}

.quote-link{
  margin-top: 40px;
  align-self: center;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  padding: 10px 30px;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 0.6s ease, 
  color 0.6s ease; /* Smooth transitions with longer duration */
  z-index: 2;
  border: 2px solid #D01110;
}
.quote-link:hover {
  background-color: #D01110; 
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); /* semi-transparent gray */
  z-index: 1; /* Make sure it stays behind the content */
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vh;
    background: url("storeOffice.jpg")center / cover no-repeat ;
  }
    
  .heroh1Container{
    display: flex;
    flex-direction: column;
  }
  .heroh1 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
  }
  .heroContainer{
    display: flex;
    flex-direction: row;
    margin:auto;
  }

  .leftHeroSection{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: auto;
  }

  .hero-text {
    display:flex;
    flex-direction: column;    
    height: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 30px;
  }
    .heroh2{
      font-size: medium;
      text-align: center;
      font-weight: 600;
    }

    .hero-h1h2 span {
      display: block;
      line-height: 1.9;
   
    }
    .rightHeroSection{
      display:flex;
      flex-direction: column;
      max-width: 50%;
      border-radius: 10px;
      margin: auto;
      padding: 60px;
      z-index: 2;
      background-color: #EEEEEE;
    }

    .quote-link{
      align-self: center;
      border-radius: 10px;
      width: 60%;
      padding: 25px 30px;
      text-align: center;
      font-size: medium;
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
      background-color 0.6s ease, 
      color 0.6s ease; /* Smooth transitions with longer duration */
    }
    .hero-buttonContainer{
      margin: 40px auto;
    }
}
  /* Mobile first approach: max-width 768px */
@media (max-width: 768px) {
  .hero{
    flex-direction: column;
    padding-bottom: 15px;
    background: url("backgroundHero.png")center / cover no-repeat ;
  }
  .heroh1{
    font-size: x-large;
    text-align: center;
    margin: 20px ;
  }

  .hero-text{
    flex-direction: row;
    padding: 5px 5px;
  }

  .heroh2{
    max-width: 40%;
    margin: 40px auto;
    font-size: medium;
    text-align: center;
  }
  
  .map-img {
    max-width: 50%;
    margin-top: 21px;
    margin-right: 10px;
  }

  .map-img img{
    width: 70%;
  }

  .rightHeroSection{
    background-color:;
  }
  .hero-image {
    margin: 15px auto;
    width: 100%;
    }

    .hero-buttonContainer{
      justify-self: center;
      margin-bottom: 10px;
      
    }
}