.hero {
  position: relative;
  display: flex;
}
.heroh1 {
  display: flex;
  flex-direction: column;
  color: Black;
  z-index: 2;
}

.heroContainer{
  z-index: 2;
  width: 100%;
  margin: 0;
}

.heroh2{
  font-size: small;
  color: white;
  z-index: 2;
  font-weight: 400;
}

.quote-link{
  margin-top: 40px;
  align-self: center;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  padding: 10px 30px;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 0.6s ease, 
  color 0.6s ease; /* Smooth transitions with longer duration */
  z-index: 2;
  border: 2px solid #D01110;
}
.quote-link:hover {
  background-color: #D01110; 
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); /* semi-transparent gray 
 z-index: 1;  Make sure it stays behind the content
} */

@media (min-width: 1024px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    background-color: #E5E1DA;
  }
    
  .heroh1Container{
    display: flex;
    flex-direction: column;
  }
  .heroh1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }
  .heroContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .rightHeroSection{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
  }

  .map-img img{
    max-width:100%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 45%;
    height: 5%; 
  }

  .heroh2{
    font-size: large;
    text-align: center;
    font-weight: 600;
    color: black;
  }

  .hero-h1h2 span {
    display: block;
    line-height: 1.9;
   }

  .leftHeroSection{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 2;
  }

  .hero-image {
    width: 100%;
    height: 100%; /* Match parent height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent image overflow */
  }

  .hero-image img{
    width: 100%;
    height: 100%; /* Force the image to fill its parent */
    object-fit: cover; /* Ensure the image scales proportionally */
    margin: 0;
  }
  .quote-link{
    text-align: -webkit-center;
    border-radius: 10px;
    width: 60%;
    padding: 17px 30px;
    text-align: center;
    font-size: medium;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 0.6s ease, 
    color 0.6s ease; /* Smooth transitions with longer duration */
    }
    .hero-buttonContainer{
      text-align: -webkit-center;
    }
}
  /* Mobile first approach: max-width 768px */
@media (max-width: 768px) {
  .hero{
    flex-direction: column;
    padding-bottom: 15px;
    background-color: #E5E1DA;
  }
  .heroh1{
    font-size:xx-large;
    text-align: center;
    margin: 10px ;
    font-weight: 700;
  }

  .rightHero1{
    flex-direction: row;
    padding: 5px 5px;
  }

  .heroh2{
    max-width: 40%;
    margin: 10px auto;
    font-size: medium;
    text-align: center;
    color: black;
    font-weight: 550;
  }
  
  .map-img {
    max-width: 50%;
    text-align: -webkit-center;
    margin: auto;
  }

  .map-img img{
    width: 70%;
    text-align: -webkit-center;
  }

  .hero-image {
    margin: 0;
    width: 100%;
    }

    .hero-buttonContainer{
      text-align: -webkit-center;
      margin-top: 25px;
      margin-bottom: 15px;
      
    }
}