.hero {
  position: relative;
  z-index: 2;
  display: flex;
  background: url("backgroundHero.png")center / cover no-repeat ;
}

.hero-image {
  z-index: 2;
}
.hero-image img{
border-radius: 10px;
z-index: 2;
}

.hero-text {
  display:flex;
  font-size: 1.7rem;
  font-weight: 430;
  height: 100%;
}

.heroh1 {
font-weight: 600;
}

.heroh2{
  font-size: small;
}

.hero-h1h2 {
  color: white;
  z-index: 2;
}

.hero-h1h2 span {
  display: block;
  line-height: 1.9;
  
}

.hero-p {
  color: white;
  font-size: small;
  z-index: 2;
}

.hero-buttonContainer{
z-index: 2;
}

.quote-link{
  margin-top: 50px;
  align-self: center;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  padding: 25px 30px;
  text-align: center;
  font-size: medium;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 0.6s ease, 
  color 0.6s ease; /* Smooth transitions with longer duration */
  z-index: 2;
}
.quote-link:hover {
  background-color: #D01110; 
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); /* semi-transparent gray */
  z-index: 1; /* Make sure it stays behind the content */
}


@media (min-width: 1024px) {
.hero {
    position: relative;
    z-index: 2;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;  
  }
  
  .hero-image {
    flex: 1; /* Takes up 50% of the width */
    max-width: 50%; /* Optional: Limits the image width to 50% */
    margin-top: 60px;
    margin-left: 70px;
  }

  .hero-image img {
    margin-left: 80px;
    width: 90%;
    height: auto; /* Ensures image maintains aspect ratio */
    border-radius: 10px;
  }
  
  .hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 430;
    height: 100%;
    max-width: 50%; /* Optional: Limits the text section width to 50% */
    margin-top: 40px;
    
  }

 .heroh1 {
 font-weight: 600;
  }

  .heroh2{
    font-size: small;
  }

  .hero-h1h2 span {
    display: block;
    line-height: 1.9;
  }
  
  .hero-p {
    color: white;
    font-size: small;
    justify-content: center;
    z-index: 2;
  }
  
  .hero-p:first-of-type {
    margin-top: 10px;
  }
  
  .hero-p:last-of-type {
    bottom: 20px; /* Keep the second paragraph at the bottom */
  }
  .quote-link{
    margin-top: 50px;
    align-self: center;
    border-radius: 10px;
    width: 60%;
    padding: 25px 30px;
    text-align: center;
    font-size: medium;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 0.6s ease, 
    color 0.6s ease; /* Smooth transitions with longer duration */
    z-index: 2;
  }
  .quote-link:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
}
  /* Mobile first approach: max-width 768px */
@media (max-width: 768px) {
  .hero{
    flex-direction: column;
  }
  .heroh1{
    font-size: x-large;
    text-align: center;
    margin: 20px ;
  }

  .hero-text{
    flex-direction: row;
    padding: 20px 5px;
    background-color: black;
  }

  .heroh2{
    max-width: 40%;
    margin: 40px auto;
  
    font-size: medium;
    text-align: center;
  }
  
  .map-img {
    max-width: 50%;
    margin-top: 21px;
    margin-right: 10px;
    z-index: 2;
  }

  .map-img img{
    width: 70%;
  }

  .hero-image {
    opacity: 0.8;
    margin: 10px auto;
    width: 100%;
    }

    .hero-buttonContainer{
      margin: 0 auto;
    }
}